body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1E1E1E;
    margin: 0;
    color: #FFF;
    font-family: Arial, sans-serif;
}

.countdown-container {
    text-align: center;
}

#countdown {
    font-size: 5rem;
}
